body {
    font-family: Verdana;

}

#baner1 {
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
    float: left;
}

#baner2 {
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 30%;
    height: 70px;
    float: left;
}

#polecamy, #fantastyczne{
    clear:both;
    background-color: #B0BEC5;
    height: 320px;
    overflow: scroll;
}

#stopka{
    background-color: #29434E;
    color: white;
}

.film{
    padding: 5px;
    width: 226px;
    height: 280px;
    float: left;
}

h3{
    background-color: #546E7A;
    color: white;
    margin: 0;
}

h4{
    text-align: center;
    margin: 0px;
}

